<manifest
	package="com.nkming.sysusage"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<application
		android:name=".SystemUsageApp"
		android:allowBackup="true"
		android:fullBackupOnly="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme.Light">

		<activity
			android:name=".PreferenceActivity"
			android:label="@string/app_pref_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".SetupWizardActivity"
			android:label="@string/app_pref_name"
			android:windowSoftInputMode="adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<service
			android:name=".CpuStatService"
			android:exported="false" />

		<service
			android:name=".MemStatService"
			android:exported="false" />

		<service
			android:name=".NetStatService"
			android:exported="false" />

		<service
			android:name=".DiskStatService"
			android:exported="false" />

		<service
			android:name=".StorageStatService"
			android:exported="false" />

		<service
			android:name=".NotifService"
			android:exported="false" />

		<receiver android:name=".BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<activity
			android:name=".DevActivity"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<receiver android:name=".UpgradeReceiver">
			<intent-filter>
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
